<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BMI Calculator</title>
  <link rel="stylesheet" href="static/assets/css/bmi.css">
</head>
<body>
  <div class="page-container">
    <div class="bmi-box">
      <h2>Calculate Your BMI</h2>
      <form method="POST">
        <input type="number" step="0.1" name="weight" placeholder="Weight in kg" required>
        <input type="number" step="0.01" name="height" placeholder="Height in meters" required>
        <input type="submit" value="Calculate BMI">
      </form>

        <div class="result">
          Your BMI is: {{ bmi }}
        </div>

    </div>

    <a href="{{url_for('index')}}" class="return-btn">Return to My Personal Page</a>
  </div>
</body>
</html>